.welcome{
    width: 478px;
    height: 322px;

    .banner{
        margin: 0;
    }

    .content{
        width: 100%;
        height: calc(100% - 322px);

        display: flex;

        aside{
            margin: 0;
            width: 179px;
            height: 229px;
            background-color: #a6caf0;

            display: flex;
            flex-direction: column;

            p {
                margin: 0;
                height: 24px;
                border-width: 0;
                border-bottom: #336699;
                border-style: solid;
                border-bottom-width: 2px;
                padding-left: 10px;
            }

            p:hover{
                background-color: white;
            }


        }

        .current{
            width: 299px;
            height: 229px;
        }
    }
}