.program_mspaint{
    padding: 0;
    margin: 0;

    background-color: #808080;

    main {
        display: flex;

        aside {
            width: 59px;
            border-style: solid;
            border-width: 0;
            border-right-width: 2px;
            border-right-color: #808080;

            background-color: #d4d0c8;
            
            display: flex;
            flex-direction: column;

            padding-left: 5px;

            .buttons {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(8, 1fr);
                width: 50px;

                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    padding: 0;
                    margin: 0;
                    width: 24px;
                    height: 25px;
                    border-style: solid;
                    border-width: 2px;
                    border-top-color: white;
                    border-left-color: white;
                    border-right-color: black;
                    border-bottom-color: black;
                    background: #d4d0c8;
                }

                button:active {
                    border-top-color: black;
                    border-left-color: black;
                    border-right-color: white;
                    border-bottom-color: white;
                }
            }

            .box_settings{
                width: 39px;
                height: 64px;

                border-style: solid;
                border-width: 2px;

                border-top-color: #808080;
                border-left-color: #808080;

                border-right-color: #FFFFFF;
                border-bottom-color: #FFFFFF;
            }
        }

        canvas{

        }
    }

    footer{
        position: fixed;
        bottom: 0;

        display: flex;



        .selected_colours{
            width: 28px;
            height: 28px;
            border-style: solid;
            border-width: 2px;

            border-top-color: black;
            border-left-color: black;
            border-right-color: white;
            border-bottom-color: white;

            .primary, .secondary{

                border-style: solid;
                border-width: 2px;
                width: 13px;
                height: 13px;
                border-top-color: white;
                border-left-color: white;
                border-right-color: #808080;
                border-bottom-color: #808080;
            }

            .primary{
                position: relative;
                left: 3px;
                top: 2px;
            }

            .secondary{
                position: relative;
                right: 3px;
                bottom: 3px;
            }
        }

        .colours{
            display: grid; 
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
            grid-template-rows: 1fr 1fr; 
            gap: 0px 0px; 
            grid-template-areas: 
              ". . . . . . . . . . . . . ."
              ". . . . . . . . . . . . . .";

            width: min-content;

            button{
                border-style: solid;
                border-width: 2px;

                width: 18px;
                height: 18px;
            
                border-top-color: white;
                border-left-color: white;
                border-right-color: black;
                border-bottom-color: black;
            }

            button:active{
                border-top-color: black;
                border-left-color: black;
                border-right-color: white;
                border-bottom-color: white;
            }
        }
    }
}