@font-face {
    font-family: calibri;
    src: url(assets/fonts/calibri/calibri.ttf);
}

@font-face {
    font-family: comic_sans_ms;
    src: url(assets/fonts/comic_sans_ms/comic.ttf);
}

@font-face {
    font-family: fixedsys;
    src: url(assets/fonts/fixedsys/vgafix.fon);
}

@font-face {
    font-family: papyrus;
    src: url(assets/fonts/papyrus//PAPYRUS.TTF);
}

@font-face {
    font-family: tahoma;
    src: url(assets/fonts/tahoma/tahoma.ttf);
}

@font-face {
    font-family: times_new_roman;
    src: url(assets/fonts/times_new_roman/times.ttf);
}

.program_notepad{
    width: calc(100% - 9px);
    height: calc(100% - 47px);

    textarea{
        resize: none;
        width: 100%;
        height: 100%;
        margin: 0;
    }

    textarea.noWordWrap{
        white-space: nowrap;
    }

    textarea.calibri{
        font: calibri;
    }

    textarea.comic_sans_ms{
        font: comic_sans_ms;
    }
}

.hidden{
    visibility: none;
}

/*https://www.w3schools.com/howto/howto_js_dropdown.asp*/


.font_calibri{
    font-family: calibri;
}

.font_comic_sans_ms{
    font-family: comic_sans_ms;
}

.font_fixedsys{
    font-family: fixedsys;
}

.font_papyrus{
    font-family: papyrus;
}

.font_tahoma{
    font-family: tahoma;
}

.font_times_new_roman{
    font-family: times_new_roman;
}