@font-face {
  font-family: 'tahoma_8px'; /*a name to be used later*/
  src: url('./assets/fonts/tahoma_8px/fs-tahoma-8px.ttf'); /*URL to font*/
}

@font-face {
  font-family: 'tahoma_8px_bold'; /*a name to be used later*/
  src: url('./assets/fonts/tahoma_8px_bold/ms-tahoma-bold-8px.ttf') /*URL to font*/
}


body{
  background-color: #376ea6;
  margin: 0 0;
}

button{
  border: none;
  background-color: #d4d0c8;
  background-color: rgba(0,0,0,0);
}

p{
  user-select: none;
  font-size: large;
}

p, a, button, time, label{
  font-family: "tahoma_8px";
}

h1, h2, h3, h4 ,h5{
  font-family: "tahoma_8px_bold";
}

.text_bold{
  font-family: "tahoma_8px_bold";
  font-size: small;
}

#test_button{
  position: fixed;
  right: 0;
  top: 0;
}